@model IEnumerable<Menu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h2>@ViewBag.Titel</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 pull-right">               
                    <a asp-action="Create" class="btn btn-default">新增</a>                   
            </div>
        </div>
        @if (Model.Count() > 0)
        {
        <table class="table table-striped">
            <tr>
                <th>
                    <label asp-for="@Model.First().MenuCard.Name"></label>
                </th>
                <th>
                    <label asp-for="@Model.First().Text"></label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Type)
                </th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modeItem => item.Active)</td>
                <td>@Html.DisplayFor(modeItem => item.Day)</td>
                <td>@Html.DisplayFor(modeItem => item.Price)</td>
                <td>@Html.DisplayFor(modeItem => item.Text)</td>
                <td>@Html.DisplayFor(modeItem => item.Type)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                    
                </td>
            </tr>               
            }

        </table>
        }

    </div>
</div>